@use 'variables';
@import 'mixins';
@import "../node_modules/rfs/scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif !important;
    font-size: 16px;
}

main {
    margin-top: 70px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    z-index: 4;
    background-color: #fff;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 21px 17px -3px rgba(0,0,0,0.1);
}

ul {
    list-style: none;
}

li:hover {
    color: #8e8e8f;
    transition: all 150ms ease-in-out;
}



.social {
    gap: 10px;
    display: flex;
    padding: 0 15px;
    margin: 0;
}


.social-links {
    font-size: 1.1em;
    display: flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: variables.$black;
}

@media(max-width: 1000px){

    .social-links li {
        display: none;
    }
}

@media(min-width: 1000px){
    .socialnetworks {
        display: none;
    }
}

header h2 {
    font-size: 1.3em;
    text-align: center; 
    margin: 0;
}

//menu

.fa-solid{
    font-size: 1.5em;
    padding-right: 15px;
    cursor: pointer;
}

.barras {
    @media(min-width: 992px){
        display: none;
    }
}
.blur-background {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.navdesktop {
    display: none;
    margin: 0;
    padding-right: 15px;
    @media(min-width: 992px){
        display: flex;
    }
    
    a {
        color: variables.$black;
        text-decoration: none;
        margin-left: 15px;

        li {
            text-transform: uppercase;
            font-size: 1.1em;
        }
    }
}
.nav{
    display: flex;
    justify-content: end;
    &__menu {
        transition: all 300ms linear;
        padding: 0;
        width: 0px;
        height: 100vh;
        background-color: variables.$black;
        position: fixed;
        top: 0;
        right: 0;
        
        

        .nav__lists {
            padding: 30px 20px;
            @media (min-width: 992px){
                display: flex;
            }
        }

        .xmark {
            z-index: 2;
            font-size: 2em;
        }

        .xmark-container {
            height: 70px;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            padding-right: 15px;
            align-items: center;
            display: none;

        }

        a {
           text-decoration: none;
           color: variables.$white;
           @include font-size(1.2em);
           
           li {
            margin-bottom: 20px;
           }
        }
    
    }
}

.hero {
    @include backgroundHero(url(../images/armand-khoury-4cBVro7SHLs-unsplash.jpg));
    height: 600px;

    &__info {
        height: 100%;
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 500px;
        margin: auto;
        @media (min-width: 768px){
            flex-direction: row;
            max-width: 100%;
            margin: 0;
            
        }
    }

    &__title {
        @include font-size(5rem);
        color: variables.$white;
        font-weight: bold;
        text-shadow: -4px 3px 6px rgba(0, 0, 0, 1);
        text-align: center;
        @media (min-width: 768px){
            width: 60%;
            text-align: start;
            display: grid;
            place-content: center;
            @include font-size(5.5rem)
        }
    }

    &__buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: 568px){
            flex-direction: row;
        }
        @media (min-width: 768px){
            width: 40%;
            flex-direction: column;
        }
        @media (min-width: 992px){
            width: 40%;
            gap: 40px;
            flex-direction: row;
        }

        .btn-hero, .btn-secondhero{
            align-items: center;
            appearance: none;
            background-color: #ffffff;
            border-radius: 4px;
            border-width: 0;
            box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
            box-sizing: border-box;
            color: #060708;
            cursor: pointer;
            display: inline-flex;
            font-family: variables.$font;
            height: 48px;
            width: 140px;
            justify-content: center;
            line-height: 1;
            list-style: none;
            overflow: hidden;
            padding: 0 16px;
            position: relative;
            text-align: left;
            text-decoration: none;
            transition: box-shadow .15s,transform .15s;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            white-space: nowrap;
            will-change: box-shadow,transform;
            font-size: 18px;
            border: 1px solid black;
            @media (min-width: 1200px){
                height: 68px;
                width: 170px;
                font-size: 22px;

            }
        }
        .btn-hero:focus, .btn-secondhero:focus{
            box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        }
          
        .btn-hero:hover, .btn-secondhero:hover{
            box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
            transform: translateY(-2px);
        }
          
        .btn-hero:active, .btn-secondhero:active{
            box-shadow: #D6D6E7 0 3px 7px inset;
            transform: translateY(2px);
        }


    }

    .btn-secondhero {
        background-color: variables.$black;
        border: 1px solid rgb(255, 255, 255);
        color: #ffff;
        border-radius: 4px;
        i {margin-left: 4px;}
    }
}




.about-me {
    margin-top:  100px;
    &__text{
        @include font-size(2rem);
        line-height: 35px;
        font-weight: 300;
        max-width: 500px;
        margin: auto;
        text-align: center;
        @media (min-width: 770px){
            margin: 0;
            text-align: left;
        }
    }
    &__title {
        @include font-size(4rem);
        font-weight: bold;
    }
}



.photo img {
    width: 200px;
}

.aboutmeDivTr{
    opacity: 0;
    transform: scale(0.7);
    transition: all 900ms ease-in-out;
}

.aboutmeDivTr.visible {
    opacity: 1;
    transform: scale(1);

}

.slider__title {
    @include font-size(4rem);
    font-weight: bold;
}
.slider__title.effectscroll{
    opacity: 1;
    transform: translateY(0);
}

//SLIDER INFINITY

.slider-section {
    margin-top: 150px;
}





@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
	background: white;
	box-shadow: none;
	height: 120px;
	margin: auto;
	overflow:hidden;
	position: relative;
	max-width: 1500px;
    

	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 120px;
		position: absolute;
		width: 100px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll variables.$animationSpeed linear infinite;
		display: flex;
		width: calc(100px * 17);
       

        @media (min-width: 768px){
            width: calc(150px * 20);
        } 
	}
	
	.slide {
        display: grid;
        place-content: center;
		height: 120px;
		width: 250px;
        

	}
}

.slider__div {
    opacity: 0;
    transition: all 900ms ease-in-out;
}

.slide_effect {
    opacity: 0;
    transition: all 5s ease-in-out;
}

.slider__div.effectsdiv {
    opacity: 1;
}





.slide img {
    width: 60px;
    @media (min-width: 768px){
        width: 90px;
    }
}

.slide:nth-child(2) img, .slide:nth-child(11) img{
    width: 45px;
    @media (min-width: 768px){
        width: 70px;
    }
}


//PROJECT SECTION

.projects {
    margin-top: 150px;
    h2 {
        font-weight: bold;
        @include font-size(4rem);
    }
    h2.effectscroll{
        opacity: 1;
        transform: translateY(0);
    }

    &__button {
        margin: auto;
    }
    &__container {
        padding: 0 30px !important;
    }
    &__btn {
        @include button(130px, #ffffff, 40px, 0.8em);
        @media (min-width: 768px){
            @include button(160px, #ffffff, 40px, 1em);
        }
        &.effectsdiv {
            opacity: 1;
            transform: scale(1);
        }
    }
}

.projects__btn_effect {
    opacity: 0;
    transform: scale(0.6);
    transition: all 700ms ease-in-out;
}


//hovers and active buttons effect

.projects__btn:focus, .card__buttons a button:focus{
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
  
.projects__btn:hover, .card__buttons a button:hover{
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}
  
.projects__btn:active, .card__buttons a button:active{
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}


//CARDS SECTION
.card {
    width: 20rem;

    //animation styles
    transform: translateY(200px);
    opacity: 0;
    transition: all 700ms ease-in-out;
    .card-body {
        font-family: variables.$font !important;
    }
    @media (min-width: 768px){
        width: 30rem;
    }
    &__buttons {

        display: flex;
        align-items: center;
        justify-content: space-evenly;

        a {
            text-decoration: none;
        }
        .second {
            border: 1px solid #fff;
            font-weight: 300;
            background-color: variables.$black;
            color: #fff;

        }
    }
    &__buttons button{
        @include button(50px, #ffffff, 60px, 0.8em);
        @media (min-width: 315px){
            @include button(80px, #ffffff, 40px, 0.8em);
        }
        @media (min-width: 760px){
            @include button(100px, #ffffff, 40px, 1em);
        }
        @media (min-width: 968px){
            @include button(140px, #ffffff, 40px, 1.2em);
        }
    }
}

.card.transition_effect.transition_effect{
    transform: translateY(0);
    opacity: 1;
}

.card_1, .card_2, .card_3, .card_4 {
    transform: translateY(200px);
    opacity: 0;
    transition: all 800ms ease-in-out;
}


// CONTACT SECTION STYLES 

.contact {
    &__titlemain {
        font-weight: bold;
        @include font-size(4rem);
        color: variables.$white;
    }
    &__titlemain.effectscroll{
        opacity: 1;
        transform: translateY(0);
    }
    margin-top: 120px;
    padding: 30px 20px;
    background-image: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.158),
        rgba(7, 7, 7, 0.89)
    ), url(../images/adrien-olichon-WNs0bW8kHTM-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__subtitle{
        @include font-size(1rem);
        line-height: 20px;
        font-weight: 300;
        margin: auto;
        max-width: 900px;
        padding: 0 10px;
        color: variables.$white;
        @media (min-width: 760px){
            @include font-size(1.5rem);
            line-height: 30px;
        }
    }
    &__subtitle.effectscroll{
        opacity: 1;
        transform: translateY(0);
    }

    form {
        width: 100%;
    }
    &__div {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        background-color: white;
        border-radius: 15px;

        &.effectsdiv {
            opacity: 1;
            transform: scale(1);
        }
        
    }

    .first-div {
        box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.3);;
    }
}

.contact__div_effect {
    opacity: 0;
    transform: scale(0.3);
    transition: all 1s ease-in-out;
}


//footer

.footer {
    background-color: variables.$black;
    &__container {
        .div-footer {
            padding: 0 20px;
            display: flex;
            flex-direction: column-reverse;
            @media (min-width: 576px){
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
    .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%; 
        color:  #fff;
        @media (min-width: 576px){
            align-items: flex-start;
        }

        &__name {
            width: 200px;
            display: flex;
            justify-content: center;
            @media (min-width: 768px){
                justify-content: flex-start;
                width: 300px;
                h2 br {
                    display: none;
                }
            }
        }

        h2 {
            text-align: center;
        }

        p {
            text-align: center;
            font-weight: 300;
            color: #b9b9b9;
            margin: auto;
            max-width: 300px;
            line-height: 20px;
            @media (min-width: 576px){
                text-align: left;
                max-width: 200px;
                text-align: center;
                font-size: 0.9em !important;
            }
            @media (min-width: 768px){
                font-size: 1em !important;
                text-align: left;
                max-width: 300px;
            }
        }
    }

    .list ul a li {
        @media (min-width: 768px){
            font-size: 1.2em;
        }
    }

    .list h3{
        color: variables.$lightGrey;
    }

    .social h3 {
        color: variables.$lightGrey;
    }

    a {
        color: #636363;
        text-decoration: none;
        display: flex;

        i {
            font-size: 1.5em;
            @media (min-width: 768px){
                font-size: 2em;
            }
        }
    }
    ul {
        padding: 0 !important;
        
    }

    .lists-div {
        @media (min-width: 578px){
            width: 400px !important;
        }
        @media (min-width: 768px){
            width: 420px !important;
        }
    }

    .copy {
        margin-bottom: 0 ;
        text-align: center;
        padding: 0px 20px 20px 30px;
        @include font-size(0.8em);
        @media (min-width: 578px){
            font-size: 1.2em;
        }
    }
}

.btn__form {
    align-items: center;
    background-color: variables.$black;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    color: #060708;
    cursor: pointer;
    display: inline-flex;
    font-family: variables.$font;
    justify-content: center;
    position: relative;
    text-align: center;
    text-decoration: none;
    padding: 5px 16px;
    transition: box-shadow .15s,transform .15s;
    color: variables.$white; 
}


.slider__title_effect, .projects__title_effect, .contact__title_effect, .contact__p_effect{
    transform: translateY(100px);
    opacity: 0;
    transition: all 700ms ease-in-out;
}
