@use 'variables';
@import 'mixins';
@import "../node_modules/rfs/scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif !important;
    font-size: 16px;
}

main {
    margin-top: 70px;
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #fff;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
}




.social {
    gap: 10px;
    display: flex;
    padding: 0 15px;
    margin: 0;
}


.social-links {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

@media(max-width: 1000px){

    .social-links li {
        display: none;
    }
}

@media(min-width: 1000px){
    .socialnetworks {
        display: none;
    }
}

header h2 {
    font-size: 1.3em;
    text-align: center; 
    margin: 0;
}

//menu

.fa-solid{
    font-size: 1.5em;
    padding-right: 15px;
}
.blur-background {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}
.nav{
    display: flex;
    justify-content: end;
    &__menu {
        padding: 0;
        width: 0px;
        height: 100vh;
        background-color: #21266E;
        position: fixed;
        top: 0;
        right: 0;
    }
}

.container__left, .container__right {
    display: none;
    @media (min-width: 800px){
        display: flex;
    }
}

.container__left {
    align-items: end;
    padding: 15px;
    border-radius: 15px;
    @include backgroundHero(url(../images/website-mockup-psd.jpg));
    &--h2 {
        font-size: 2em;
        color: variables.$white;
        font-weight: 300;
    }
}

.container__right {
    border-radius: 15px;
    align-items: end;
    padding: 15px;
    @include backgroundHero( url(../images/cv.jpg));
    &--h2 {
        font-size: 2em;
        color: variables.$white;
        font-weight: 200;
    }
}

.hero {
    padding: 0 15px;
    gap: 15px;

}

.hero__container {
    @media (min-width: 800px){
        background-color: rgb(24, 23, 23);
        border-radius: 15px;
        padding: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.container__middle {
    height: 500px;
    border-radius: 15px;
    max-width: 500px;
    margin: auto;
    text-align: center;
    background-color: rgb(24, 23, 23);
    color: variables.$white;
    &__image-div {
        width: 100%;
        margin: auto;
        padding: 50px 0 10px;
    }
    &--img {
        
        margin: auto;
        width: 70px;
        height: 70px;
        background-image: url(../images/avatar.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 100px;
    }

}


.middle__name{
    color: variables.$lightGrey;
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.middle__h1 {
    max-width: 500px;
    margin: auto;
    @include font-size(5.5rem);
    font-weight: 700;
    padding: 10px 8px 30px 5px;
    @media (min-width: 800px){
        @include font-size(4rem);
    }
}

.hero-mobile {
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px auto;
    gap: 10px;
    @media (min-width :800px){
        display: none;
    }
}

.container__left--mobile{
    border-radius: 15px;
    height: 200px;
    max-width: 250px;
    display: flex;
    align-items: end;
    padding: 15px;
    @include backgroundHero(url(../images/website-mockup-psd.jpg));
    &--mh2 {
        font-size: 1.5em;
        color: variables.$white;
        font-weight: 200;
    }
}

.container__right--mobile{
    @include backgroundHero( url(../images/cv.jpg));
    height: 200px;
    max-width: 250px;
    border-radius: 15px;
    display: flex;
    align-items: end;
    padding: 15px;
    &--mh2 {
        font-size: 1.5em;
        color: variables.$white;
        font-weight: 200;
    }

}


.about-me {
    margin-top:  100px;
    &__text{
        @include font-size(2rem);
        line-height: 30px;
        font-weight: 300;
        max-width: 500px;
        margin: auto;
        text-align: center;
        @media (min-width: 770px){
            margin: 0;
            text-align: left;
        }
    }
    &__title {
        @include font-size(4rem);
        font-weight: bold;
    }
}

.photo img {
    width: 200px;
}

.slider__title {
    @include font-size(4rem);
    font-weight: bold;
}

//SLIDER INFINITY

.slider-section {
    margin-top: 150px;
}





@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
	background: white;
	box-shadow: none;
	height: 120px;
	margin: auto;
	overflow:hidden;
	position: relative;
	max-width: 1500px;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 120px;
		position: absolute;
		width: 100px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll variables.$animationSpeed linear infinite;
		display: flex;
		width: calc(100px * 17);
        @media (min-width: 768px){
            width: calc(150px * 20);
        }
        
	}
	
	.slide {
        display: grid;
        place-content: center;
		height: 120px;
		width: 250px;
	}
}

.slide img {
    width: 60px;
    @media (min-width: 768px){
        width: 90px;
    }
}

.slide:nth-child(2) img, .slide:nth-child(11) img{
    width: 45px;
    @media (min-width: 768px){
        width: 70px;
    }
}


//PROJECT SECTION

.projects {
    margin-top: 150px;
    h2 {
        font-weight: bold;
        @include font-size(4rem);
    }

    &__button {
        margin: auto;
    }
    &__container {
        padding: 0 30px !important;
    }
}

.card {
    width: 20rem;
    @media (min-width: 768px){
        width: 30rem;
    }
    &__buttons {

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .second {
            border: 1px solid #434344;
            background-color: #fff;
            color: #434344;

        }
    }
    &__buttons button{
        @include button(50px, #0d6efd, 60px, 0.8em);
        @media (min-width: 315px){
            @include button(80px, #0d6efd, 40px, 0.8em);
        }
        @media (min-width: 760px){
            @include button(100px, #0d6efd, 40px, 1em);
        }
    }
}

.contact {
    &__titlemain {
        font-weight: bold;
        @include font-size(4rem);
    }
    margin-top: 120px;
    padding: 30px 20px;
    background-image: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.158),
        rgba(245, 236, 236, 0.89)
    ), url(../images/photo-1547628641-ec2098bb5812.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__subtitle{
        @include font-size(1rem);
        line-height: 20px;
        font-weight: 300;
        margin: auto;
        max-width: 900px;
        padding: 0 10px;
        @media (min-width: 760px){
            @include font-size(1.5rem);
            line-height: 30px;
        }
    }

    form {
        width: 100%;
    }
    &__div {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        background-color: white;
        border-radius: 15px;
    }
}

//LOGO

.footer {
    background-color: variables.$black;
    
    .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%; 
        color:  #fff;

        h2 {
            text-align: center;
        }

        p {
            text-align: center;
            font-weight: 300;
            margin: auto;
            max-width: 300px;
            line-height: 20px;
            @include font-size(1em)
        }
    }
}
