* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif !important;
  font-size: 16px;
}
body .container-loader {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  z-index: 10;
  top: 0;
  display: grid;
  place-content: center;
}
body .container-loader .loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #868585;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
body .container-loader .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #000000;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

main {
  margin-top: 70px;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  z-index: 4;
  background-color: #fff;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 21px 17px -3px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
}

li:hover {
  color: #8e8e8f;
  transition: all 150ms ease-in-out;
}

.social {
  gap: 10px;
  display: flex;
  padding: 0 15px;
  margin: 0;
}

.social-links {
  font-size: 1.1em;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #010105;
}

@media (max-width: 1000px) {
  .social-links li {
    display: none;
  }
}
@media (min-width: 1000px) {
  .socialnetworks {
    display: none;
  }
}
header h2 {
  font-size: 1.3em;
  text-align: center;
  margin: 0;
}

.fa-solid {
  font-size: 1.5em;
  padding-right: 15px;
  cursor: pointer;
}

@media (min-width: 992px) {
  .barras {
    display: none;
  }
}

.blur-background {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.navdesktop {
  display: none;
  margin: 0;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .navdesktop {
    display: flex;
  }
}
.navdesktop a {
  color: #010105;
  text-decoration: none;
  margin-left: 15px;
}
.navdesktop a li {
  text-transform: uppercase;
  font-size: 1.1em;
}

.nav {
  display: flex;
  justify-content: end;
}
.nav__menu {
  transition: all 300ms linear;
  padding: 0;
  width: 0px;
  height: 100vh;
  background-color: #010105;
  position: fixed;
  top: 0;
  right: 0;
}
.nav__menu .nav__lists {
  padding: 30px 20px;
}
@media (min-width: 992px) {
  .nav__menu .nav__lists {
    display: flex;
  }
}
.nav__menu .xmark {
  z-index: 2;
  font-size: 2em;
}
.nav__menu .xmark-container {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  align-items: center;
  display: none;
}
.nav__menu a {
  text-decoration: none;
  color: #FEF7ED;
  font-size: 1.2em;
}
.nav__menu a li {
  margin-bottom: 20px;
}

.hero {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../images/armand-khoury-4cBVro7SHLs-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}
.hero__info {
  height: 100%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  margin: auto;
}
@media (min-width: 768px) {
  .hero__info {
    flex-direction: row;
    max-width: 100%;
    margin: 0;
  }
}
.hero__title {
  font-size: calc(1.625rem + 4.5vw);
  color: #FEF7ED;
  font-weight: bold;
  text-shadow: -4px 3px 6px rgb(0, 0, 0);
  text-align: center;
}
@media (min-width: 1200px) {
  .hero__title {
    font-size: 5rem;
  }
}
@media (min-width: 768px) {
  .hero__title {
    width: 60%;
    text-align: start;
    display: grid;
    place-content: center;
    font-size: calc(1.675rem + 5.1vw);
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .hero__title {
    font-size: 5.5rem;
  }
}
.hero__buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 568px) {
  .hero__buttons {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .hero__buttons {
    width: 40%;
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  .hero__buttons {
    width: 40%;
    gap: 40px;
    flex-direction: row;
  }
}
.hero__buttons .btn-hero, .hero__buttons .btn-secondhero {
  align-items: center;
  appearance: none;
  background-color: #ffffff;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #060708;
  cursor: pointer;
  display: inline-flex;
  font-family: "Josefin Sans", sans-serif;
  height: 48px;
  width: 140px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 0 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  border: 1px solid black;
}
@media (min-width: 1200px) {
  .hero__buttons .btn-hero, .hero__buttons .btn-secondhero {
    height: 68px;
    width: 170px;
    font-size: 22px;
  }
}
.hero__buttons .btn-hero:focus, .hero__buttons .btn-secondhero:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
.hero__buttons .btn-hero:hover, .hero__buttons .btn-secondhero:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}
.hero__buttons .btn-hero:active, .hero__buttons .btn-secondhero:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
.hero .btn-secondhero {
  background-color: #010105;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  border-radius: 4px;
}
.hero .btn-secondhero i {
  margin-left: 4px;
}

.about-me {
  margin-top: 100px;
}
.about-me__text {
  font-size: calc(1.325rem + 0.9vw);
  line-height: 35px;
  font-weight: 300;
  max-width: 500px;
  margin: auto;
  text-align: center;
}
@media (min-width: 1200px) {
  .about-me__text {
    font-size: 2rem;
  }
}
@media (min-width: 770px) {
  .about-me__text {
    margin: 0;
    text-align: left;
  }
}
.about-me__title {
  font-size: calc(1.525rem + 3.3vw);
  font-weight: bold;
}
@media (min-width: 1200px) {
  .about-me__title {
    font-size: 4rem;
  }
}

.photo img {
  width: 200px;
}

.aboutmeDivTr {
  opacity: 0;
  transform: scale(0.7);
  transition: all 900ms ease-in-out;
}

.aboutmeDivTr.visible {
  opacity: 1;
  transform: scale(1);
}

.slider__title {
  font-size: calc(1.525rem + 3.3vw);
  font-weight: bold;
}
@media (min-width: 1200px) {
  .slider__title {
    font-size: 4rem;
  }
}

.slider__title.effectscroll {
  opacity: 1;
  transform: translateY(0);
}

.slider-section {
  margin-top: 150px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.slider {
  background: white;
  box-shadow: none;
  height: 120px;
  margin: auto;
  overflow: hidden;
  position: relative;
  max-width: 1500px;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 120px;
  position: absolute;
  width: 100px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 15s linear infinite;
  display: flex;
  width: 1700px;
}
@media (min-width: 768px) {
  .slider .slide-track {
    width: 3000px;
  }
}
.slider .slide {
  display: grid;
  place-content: center;
  height: 120px;
  width: 250px;
}

.slider__div {
  opacity: 0;
  transition: all 900ms ease-in-out;
}

.slide_effect {
  opacity: 0;
  transition: all 5s ease-in-out;
}

.slider__div.effectsdiv {
  opacity: 1;
}

.slide img {
  width: 60px;
}
@media (min-width: 768px) {
  .slide img {
    width: 90px;
  }
}

.slide:nth-child(2) img, .slide:nth-child(11) img {
  width: 45px;
}
@media (min-width: 768px) {
  .slide:nth-child(2) img, .slide:nth-child(11) img {
    width: 70px;
  }
}

.projects {
  margin-top: 150px;
}
.projects h2 {
  font-weight: bold;
  font-size: calc(1.525rem + 3.3vw);
}
@media (min-width: 1200px) {
  .projects h2 {
    font-size: 4rem;
  }
}
.projects h2.effectscroll {
  opacity: 1;
  transform: translateY(0);
}
.projects__button {
  margin: auto;
}
.projects__container {
  padding: 0 30px !important;
}
.projects__btn {
  align-items: center;
  background-color: #ffffff;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  color: #060708;
  cursor: pointer;
  display: inline-flex;
  font-family: "Josefin Sans", sans-serif;
  height: 40px;
  width: 130px;
  justify-content: center;
  position: relative;
  text-align: center;
  text-decoration: none;
  padding: 5px 16px;
  transition: box-shadow 0.15s, transform 0.15s;
  font-size: 0.8em;
}
@media (min-width: 768px) {
  .projects__btn {
    align-items: center;
    background-color: #ffffff;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    color: #060708;
    cursor: pointer;
    display: inline-flex;
    font-family: "Josefin Sans", sans-serif;
    height: 40px;
    width: 160px;
    justify-content: center;
    position: relative;
    text-align: center;
    text-decoration: none;
    padding: 5px 16px;
    transition: box-shadow 0.15s, transform 0.15s;
    font-size: 1em;
  }
}
.projects__btn.effectsdiv {
  opacity: 1;
  transform: scale(1);
}

.projects__btn_effect {
  opacity: 0;
  transform: scale(0.6);
  transition: all 700ms ease-in-out;
}

.projects__btn:focus, .card__buttons a button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.projects__btn:hover, .card__buttons a button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.projects__btn:active, .card__buttons a button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.card {
  width: 20rem;
  transform: translateY(200px);
  opacity: 0;
  transition: all 700ms ease-in-out;
}
.card .card-body {
  font-family: "Josefin Sans", sans-serif !important;
}
@media (min-width: 768px) {
  .card {
    width: 30rem;
  }
}
.card__buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.card__buttons a {
  text-decoration: none;
}
.card__buttons .second {
  border: 1px solid #fff;
  font-weight: 300;
  background-color: #010105;
  color: #fff;
}
.card__buttons button {
  align-items: center;
  background-color: #ffffff;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  color: #060708;
  cursor: pointer;
  display: inline-flex;
  font-family: "Josefin Sans", sans-serif;
  height: 60px;
  width: 50px;
  justify-content: center;
  position: relative;
  text-align: center;
  text-decoration: none;
  padding: 5px 16px;
  transition: box-shadow 0.15s, transform 0.15s;
  font-size: 0.8em;
}
@media (min-width: 315px) {
  .card__buttons button {
    align-items: center;
    background-color: #ffffff;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    color: #060708;
    cursor: pointer;
    display: inline-flex;
    font-family: "Josefin Sans", sans-serif;
    height: 40px;
    width: 80px;
    justify-content: center;
    position: relative;
    text-align: center;
    text-decoration: none;
    padding: 5px 16px;
    transition: box-shadow 0.15s, transform 0.15s;
    font-size: 0.8em;
  }
}
@media (min-width: 760px) {
  .card__buttons button {
    align-items: center;
    background-color: #ffffff;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    color: #060708;
    cursor: pointer;
    display: inline-flex;
    font-family: "Josefin Sans", sans-serif;
    height: 40px;
    width: 100px;
    justify-content: center;
    position: relative;
    text-align: center;
    text-decoration: none;
    padding: 5px 16px;
    transition: box-shadow 0.15s, transform 0.15s;
    font-size: 1em;
  }
}
@media (min-width: 968px) {
  .card__buttons button {
    align-items: center;
    background-color: #ffffff;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    color: #060708;
    cursor: pointer;
    display: inline-flex;
    font-family: "Josefin Sans", sans-serif;
    height: 40px;
    width: 140px;
    justify-content: center;
    position: relative;
    text-align: center;
    text-decoration: none;
    padding: 5px 16px;
    transition: box-shadow 0.15s, transform 0.15s;
    font-size: 1.2em;
  }
}

.card.transition_effect.transition_effect {
  transform: translateY(0);
  opacity: 1;
}

.card_1, .card_2, .card_3, .card_4 {
  transform: translateY(200px);
  opacity: 0;
  transition: all 800ms ease-in-out;
}

.contact {
  margin-top: 120px;
  padding: 30px 20px;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.158), rgba(7, 7, 7, 0.89)), url(../images/adrien-olichon-WNs0bW8kHTM-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact__titlemain {
  font-weight: bold;
  font-size: calc(1.525rem + 3.3vw);
  color: #FEF7ED;
}
@media (min-width: 1200px) {
  .contact__titlemain {
    font-size: 4rem;
  }
}
.contact__titlemain.effectscroll {
  opacity: 1;
  transform: translateY(0);
}
.contact__subtitle {
  font-size: 1rem;
  line-height: 20px;
  font-weight: 300;
  margin: auto;
  max-width: 900px;
  padding: 0 10px;
  color: #FEF7ED;
}
@media (min-width: 760px) {
  .contact__subtitle {
    font-size: calc(1.275rem + 0.3vw);
    line-height: 30px;
  }
}
@media (min-width: 760px) and (min-width: 1200px) {
  .contact__subtitle {
    font-size: 1.5rem;
  }
}
.contact__subtitle.effectscroll {
  opacity: 1;
  transform: translateY(0);
}
.contact form {
  width: 100%;
}
.contact__div {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: white;
  border-radius: 15px;
}
.contact__div.effectsdiv {
  opacity: 1;
  transform: scale(1);
}
.contact .first-div {
  box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.3);
}

.contact__div_effect {
  opacity: 0;
  transform: scale(0.3);
  transition: all 1s ease-in-out;
}

.footer {
  background-color: #010105;
}
.footer__container .div-footer {
  padding: 0 20px;
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 576px) {
  .footer__container .div-footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
}
@media (min-width: 576px) {
  .footer .logo {
    align-items: flex-start;
  }
}
.footer .logo__name {
  width: 200px;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .footer .logo__name {
    justify-content: flex-start;
    width: 300px;
  }
  .footer .logo__name h2 br {
    display: none;
  }
}
.footer .logo h2 {
  text-align: center;
}
.footer .logo p {
  text-align: center;
  font-weight: 300;
  color: #b9b9b9;
  margin: auto;
  max-width: 300px;
  line-height: 20px;
}
@media (min-width: 576px) {
  .footer .logo p {
    text-align: left;
    max-width: 200px;
    text-align: center;
    font-size: 0.9em !important;
  }
}
@media (min-width: 768px) {
  .footer .logo p {
    font-size: 1em !important;
    text-align: left;
    max-width: 300px;
  }
}
@media (min-width: 768px) {
  .footer .list ul a li {
    font-size: 1.2em;
  }
}
.footer .list h3 {
  color: #8B8D99;
}
.footer .social h3 {
  color: #8B8D99;
}
.footer a {
  color: #636363;
  text-decoration: none;
  display: flex;
}
.footer a i {
  font-size: 1.5em;
}
@media (min-width: 768px) {
  .footer a i {
    font-size: 2em;
  }
}
.footer ul {
  padding: 0 !important;
}
@media (min-width: 578px) {
  .footer .lists-div {
    width: 400px !important;
  }
}
@media (min-width: 768px) {
  .footer .lists-div {
    width: 420px !important;
  }
}
.footer .copy {
  margin-bottom: 0;
  text-align: center;
  padding: 0px 20px 20px 30px;
  font-size: 0.8em;
}
@media (min-width: 578px) {
  .footer .copy {
    font-size: 1.2em;
  }
}

.btn__form {
  align-items: center;
  background-color: #010105;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  color: #060708;
  cursor: pointer;
  display: inline-flex;
  font-family: "Josefin Sans", sans-serif;
  justify-content: center;
  position: relative;
  text-align: center;
  text-decoration: none;
  padding: 5px 16px;
  transition: box-shadow 0.15s, transform 0.15s;
  color: #FEF7ED;
}

.slider__title_effect, .projects__title_effect, .contact__title_effect, .contact__p_effect {
  transform: translateY(100px);
  opacity: 0;
  transition: all 700ms ease-in-out;
}

/*# sourceMappingURL=style.css.map */
