* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif !important;
  font-size: 16px;
}

header {
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
}

.social {
  gap: 10px;
  display: flex;
  padding: 0 15px;
  margin: 0;
}

.social-links {
  font-size: 1.2em;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

@media (max-width: 1000px) {
  .social-links li {
    display: none;
  }
}
@media (min-width: 1000px) {
  .socialnetworks {
    display: none;
  }
}
header h2 {
  font-size: 1.3em;
  text-align: center;
  margin: 0;
}

.fa-solid {
  font-size: 1.5em;
  padding-right: 15px;
}

.blur-background {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.nav {
  display: flex;
  justify-content: end;
}
.nav__menu {
  padding: 0;
  width: 0px;
  height: 100vh;
  background-color: #21266E;
  position: fixed;
  top: 0;
  right: 0;
}

.container__left, .container__right {
  display: none;
}
@media (min-width: 800px) {
  .container__left, .container__right {
    display: flex;
  }
}

.container__left {
  align-items: end;
  padding: 15px;
  border-radius: 15px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url(../images/website-mockup-psd.jpg);
  background-position: center;
  background-size: cover;
}
.container__left--h2 {
  font-size: 2em;
  color: #FEF7ED;
  font-weight: 300;
}

.container__right {
  border-radius: 15px;
  align-items: end;
  padding: 15px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url(../images/cv.jpg);
  background-position: center;
  background-size: cover;
}
.container__right--h2 {
  font-size: 2em;
  color: #FEF7ED;
  font-weight: 200;
}

.hero {
  padding: 0 15px;
  gap: 15px;
}

@media (min-width: 800px) {
  .hero__container {
    background-color: rgb(24, 23, 23);
    border-radius: 15px;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.container__middle {
  height: 500px;
  border-radius: 15px;
  max-width: 500px;
  margin: auto;
  text-align: center;
  background-color: rgb(24, 23, 23);
  color: #FEF7ED;
}
.container__middle__image-div {
  width: 100%;
  margin: auto;
  padding: 50px 0 10px;
}
.container__middle--img {
  margin: auto;
  width: 70px;
  height: 70px;
  background-image: url(../images/avatar.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100px;
}

.middle__name {
  color: #8B8D99;
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.middle__h1 {
  max-width: 500px;
  margin: auto;
  font-size: calc(1.675rem + 5.1vw);
  font-weight: 700;
  padding: 10px 8px 30px 5px;
}
@media (min-width: 1200px) {
  .middle__h1 {
    font-size: 5.5rem;
  }
}
@media (min-width: 800px) {
  .middle__h1 {
    font-size: calc(1.525rem + 3.3vw);
  }
}
@media (min-width: 800px) and (min-width: 1200px) {
  .middle__h1 {
    font-size: 4rem;
  }
}

.hero-mobile {
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px auto;
  gap: 10px;
}
@media (min-width: 800px) {
  .hero-mobile {
    display: none;
  }
}

.container__left--mobile {
  border-radius: 15px;
  height: 200px;
  max-width: 250px;
  display: flex;
  align-items: end;
  padding: 15px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url(../images/website-mockup-psd.jpg);
  background-position: center;
  background-size: cover;
}
.container__left--mobile--mh2 {
  font-size: 1.5em;
  color: #FEF7ED;
  font-weight: 200;
}

.container__right--mobile {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url(../images/cv.jpg);
  background-position: center;
  background-size: cover;
  height: 200px;
  max-width: 250px;
  border-radius: 15px;
  display: flex;
  align-items: end;
  padding: 15px;
}
.container__right--mobile--mh2 {
  font-size: 1.5em;
  color: #FEF7ED;
  font-weight: 200;
}

.about-me {
  margin-top: 100px;
}
.about-me__text {
  font-size: calc(1.325rem + 0.9vw);
  line-height: 30px;
  font-weight: 300;
  max-width: 500px;
  margin: auto;
  text-align: center;
}
@media (min-width: 1200px) {
  .about-me__text {
    font-size: 2rem;
  }
}
@media (min-width: 770px) {
  .about-me__text {
    margin: 0;
    text-align: left;
  }
}
.about-me__title {
  font-size: calc(1.525rem + 3.3vw);
  font-weight: bold;
}
@media (min-width: 1200px) {
  .about-me__title {
    font-size: 4rem;
  }
}

.photo img {
  width: 200px;
}

.slider__title {
  font-size: calc(1.525rem + 3.3vw);
  font-weight: bold;
}
@media (min-width: 1200px) {
  .slider__title {
    font-size: 4rem;
  }
}

.slider-section {
  margin-top: 150px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 120px;
  margin: auto;
  overflow: hidden;
  position: relative;
  max-width: 1500px;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 120px;
  position: absolute;
  width: 100px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 15s linear infinite;
  display: flex;
  width: 1700px;
}
@media (min-width: 768px) {
  .slider .slide-track {
    width: 3000px;
  }
}
.slider .slide {
  display: grid;
  place-content: center;
  height: 120px;
  width: 250px;
}

.slide img {
  width: 60px;
}
@media (min-width: 768px) {
  .slide img {
    width: 90px;
  }
}

.slide:nth-child(2) img, .slide:nth-child(11) img {
  width: 45px;
}
@media (min-width: 768px) {
  .slide:nth-child(2) img, .slide:nth-child(11) img {
    width: 70px;
  }
}

.projects {
  margin-top: 150px;
}
.projects h2 {
  font-weight: bold;
  font-size: calc(1.525rem + 3.3vw);
}
@media (min-width: 1200px) {
  .projects h2 {
    font-size: 4rem;
  }
}

/*# sourceMappingURL=style.css.map */
